.app {
  text-align: center;
}


.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-main {
  margin-top: 58px;
  padding-left: 200px;
  flex: 1;
}
.app-aside{
  position: fixed;
  left: 0;
  top: 58px;
  /* height: calc(100vh - 58px); */
  bottom: 0;
  z-index: 8;
}
.ant-layout-content {
  flex: 1;
  overflow: hidden;
}
.app-aside__taglist {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.app-aside__taglist .ant-tag {
  margin-bottom: 6px;
}